h6{
    color: red;
    border: 2px solid black;
    background-color: bisque;
    text-align: center;
}

#id1{
    color: black;
}

#id2{
    text-align: center;
    color: red;
    font-size: 20px;
    border: 2px solid black;
    background-color: grey;
}